<div ng-controller="NavbarCtrl" layout="column" >
    <md-sidenav md-component-id="left">
      <md-button ng-click="closeLeftMenu()">
          Cerrar
      </md-button>
	    <md-content class='md-padding' layout-align-gt-sm  ng-repeat="noticia in noticias">
		      <md-toolbar>
		        <h2 class="md-toolbar-tools">
		          <span>{{noticia.title}}</span>
		        </h2>
		     </md-toolbar>
		     <img class="img-post" src="images/{{noticia.image}}.jpg" >
		      <p>{{noticia.text}}</p>
	    </md-content>
    </md-sidenav>
     <md-content>
      <md-button ng-click="openLeftMenu()">
          Post Recientes
      </md-button>
    </md-content>
</div>


<div layout="row" flex layout-sm="column" ng-controller="MainCtrl">
	<md-content class='md-padding' layout-align-gt-sm  ng-repeat="slide in slides">
		<md-toolbar>
			<h2 class="md-toolbar-tools titulo-post">
				<span class="">{{slide.title}}</span>
			</h2>
		</md-toolbar>
			<img class="img-post" src="images/{{slide.image}}.jpg" >
			<p class="post">{{slide.text}}</p>
	</md-content>
</div>