.div-columna1{background-color: #0072C6;color: white;text-align: center;}
.div-columna2{background-color: red;color: white;text-align: center;}
.div-columna3{background-color: green;color: white;text-align: center;}
.div-columna4{background-color: yellow;color: white;text-align: center;}
#cont-columnas{margin-top: 10px}